.custom-navbar {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
}

.brand-text {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: middle;
}

.nav-link {
    color: #fff !important;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff6600 !important;
}

.ms-auto {
    margin-left: auto !important;
}

@media (max-width: 768px) {
    .brand-text {
        font-size: 1.2em;
    }
}
